

.red{
    colour:red;
}

.bold{
    font-size: 700%;
    font-weight: bolder;
}

.back{
    background-color: brown;
}

.headclr{
    color: aliceblue;
    font-weight: bolder;
    font-size: medium;
    text-align: center;
}

.foot{
    color: black;
    font-weight: bolder;
    font-size: medium;
    text-align: center;
}
.log {
padding:10%;
}
.btn {
    width:200 px;
}
.text-alignment {
    text-align:center;
}
